node_modules
.env
/src/config/firebase-service-account.json
/src/logger/logs
/logs
/dist

# uploaded files
/public/images/*
!/public/images/logo.png
/public/documents/*
!/public/documents/.gitkeep
/public/media/*
!/public/media/.gitkeep
/uploads/*
!/uploads/.gitkeep
